<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitialUserPages</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>1CE9B2E7-626A-4B52-9341-F9E842DF9D30.playgroundpage</string>
		<string>D0AA6901-852E-4D25-9251-EEB85E2888E1.playgroundpage</string>
	</array>
	<key>Name</key>
	<string>My Playground</string>
	<key>TemplatePageFilename</key>
	<string>Template.playgroundpage</string>
</dict>
</plist>
